header {
	background-color: #fcfbfade;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 116px;
	align-content: center;
	align-items: center;
	min-width: 1500px;
	border-bottom: 2px solid #383838;
}

header>div {
	margin: 0 50px;
}

div.d-hslogo img {
	width: 50px;
}

.z_log {
	line-height: 46px;
	color: #3f4338;
	text-decoration: none;
	font-weight: 700;
	font-size: 23px;
}

.hs_menu {
	position: relative;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}

.hs_top {
	outline: none;
	cursor: pointer;
}

.hs_head {
	flex: 1;
}

.hs_drop {
	z-index: 1;
	min-height: 0;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-2rem);
	list-style: none;
	position: absolute;
	min-width: 100px;
	transition: 0.8s;
	cursor: pointer;
	background-color: transparent;
}

.hs_drop a, .hs_drop button {
	color: #eee;
	border-radius: 25px;
	background-color: #686767;
	padding: 10px;
	font-weight: 300;
	text-decoration: none;
	font-size: 18px;
}

.hs_menu:hover .hs_drop, .hs_drop:hover button {
	cursor: pointer;
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

div.inner-box button {
	background-color: #4a4a4ae0;
	color: #eee;
	border: transparent;
	padding: 4px;
	border-radius: 10px;
}

div.inner-box input {
	font-size: 16px;
	border-radius: 7px;
	padding: 4px 0 0 10px;
	width: 250px;
}

div.inner-box select {
	padding: 2px;
	font-size: 16px;
}
