div.d-main {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	padding-top: 70px;
}

div.d-content {
	width: 640px;
	overflow: hidden;
	margin: -20px 0 0 -30px;
}

div.d-map img {
	width: 510px;
	border: none;
}

area:hover {
	cursor: pointer;
	
}
.hshshs a {
	text-decoration: none;
	color: inherit;

}
.hshshs {
	position: relative;
}
.hshsa {
	width: 200px;
	position: absolute;
    text-decoration: none;
    color: inherit;
    left: 230px;
    top: 60px;
    font-size: 16px;
}
