<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.memo.persistance.ApiDao">
 <!-- 대문자를 소문자로 : ctrl + shift + y -->
 	<select id="selectAll" resultType="ApiVO">
 		SELECT * FROM tbl_food
 	</select>
 	<select id="findById" resultType="ApiVO">
		 SELECT * FROM tbl_food
		 WHERE main_title = #{main_title}
 	</select>
  	<select id="findByGugun" resultType="ApiVO">
 		SELECT * FROM tbl_food
 		WHERE gugun_nm = #{gugun_nm}
 	</select>
 	<insert id="insert" parameterType="ApiVO">
 		INSERT INTO tbl_book (
			main_title 
			gugun_nm
			place
			cntct_tel 
			title
			subtitle 
			addr1
			homepage_url
			usage_day_week_and_time
			rprsntv_menu
			main_img_normal
			main_img_thumb
			itemcntnts
 		) VALUES (
			#{main_title}, 
			#{gugun_nm},
			#{place},
			#{cntct_tel}, 
			#{title},
			#{subtitle}, 
			#{addr1},
			#{homepage_url},
			#{usage_day_week_and_time},
			#{rprsntv_menu},
			#{main_img_normal},
			#{main_img_thumb},
			#{itemcntnts}
 		)
 		
 	</insert>
 	<update id="update" parameterType="ApiVO">
	 	UPDATE tbl_food SET
			gugun_nm=				#{gugun_nm},
			place=					#{place},
			cntct_tel =				#{cntct_tel},
			title=					#{title},
			subtitle =				#{subtitle},
			addr1=					#{addr1},
			homepage_url=			#{homepage_url},
			usage_day_week_and_time=#{usage_day_week_and_time},
			rprsntv_menu=			#{rprsntv_menu},
			main_img_normal=		#{main_img_normal},
			main_img_thumb=			#{main_img_thumb},
			itemcntnts=				#{itemcntnts}
	 	WHERE main_title= 	#{main_title} 	
 	</update>
 	<delete id="delete" >
 		DELETE FROM tbl_food
 		WHERE main_title= #{main_title}
 	</delete>
 
 	<select id="create_api_table">
 		CREATE TABLE IF NOT EXISTS tbl_food ( 
			main_title 					VARCHAR(100) PRIMARY KEY,
			gugun_nm					VARCHAR(4),
			place						VARCHAR(100),
			cntct_tel 					VARCHAR(12),
			title						VARCHAR(100),
			subtitle 					VARCHAR(200),
			addr1						VARCHAR(300),
			homepage_url				VARCHAR(400),
			usage_day_week_and_time		VARCHAR(200),
			rprsntv_menu				VARCHAR(200),
			main_img_normal				VARCHAR(400),
			main_img_thumb				VARCHAR(400),
			itemcntnts					VARCHAR(1000)
  		)
 	</select>
 
 
 
 
 </mapper> 