body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section > div {
  border: 1px solid #4e4b4b;
  border-radius: 15px;
}

section .hs_content {
  border-bottom: 1px solid black;
  padding: 10px 0 10px 20px;
}

.hs_flex {
  display: flex;
}

#z_log {
  margin-left: auto;
  margin-right: 20px;
}

#z_logout a {
  text-decoration: none;
  border-radius: 50px;
  padding: 8.5px;
  color: #858484d9;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

#z_logout {
  margin-left: auto;
  margin-right: 20px;
}

#z_log a {
  background-color: #838282a1;
  text-decoration: none;
  border-radius: 50px;
  padding: 7px;
  color: #fff9e5;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 8px rgb(255 229 229/ 14%),
    6px 6px 10px rgba(0, 0, 0, 0.15);
}

div h2 {
  color: #291515;
  font-weight: 200;
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

table tr td,
table tr th {
  border-collapse: collapse;
  padding: 4px;
}
table tr th {
  cursor: pointer;
  border-bottom: 2.25px solid #908a8a82;
}
table tr th a {
  text-decoration: none;
  color: inherit;
}
table tr td {
  padding: 12px 20px;
  border-bottom: 2.25px solid #908a8a82;
}
table tr td a {
  text-decoration: none;
  color: inherit;
}

div#hs_img img {
  width: 100px;
  transform: rotate(10deg);
}
#hs_img {
  margin-right: 25px;
}
.hs_left {
  margin-left: auto;
}

.add_btn {
  color: #262525f2;
  text-decoration: none;
  margin-left: 10px;
  font-size: 17px;
  line-height: 25px;
  font-weight: 530;
}
.add_btn:hover {
  cursor: pointer;
  font-weight: 650;
}
.home {
  margin-left: auto;
  margin-right: 10px;
  color: #9a9a9a;
  text-decoration: none;
}
