 *
 {  background-color: #f2eddc;
 
 }
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.hs_block {
  display: none;
}

.hs_flex {
  display: flex;
}

.hs_sa {
  justify-content: space-between;
}
.hs_border
{
  border-bottom: 1.2px solid #252121a8;
	
}
form.hs-form {
	margin: 200px auto;
	padding: 40px 30px;
	background-color: #fff;
}

form.hs-form * {
	background-color: #fff;
	
}
form.hs-form  input {
	margin-bottom : 10px;
}
.z_log {
  line-height: 52px;
  margin-left: auto;
  color: #3f4338;
  text-decoration: none;
  font-weight: 500;
  font-size: 23px;
}

.hs_menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}

.hs_top {
  outline: none;
  cursor: pointer;
}

.hs_head {
  flex: 1;
}

.hs_fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  
}

.hs_drop {
  min-height: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2rem);
  list-style: none;
  position: absolute;
  min-width: 100px;
  transition: 1.2s;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
}

.hs_drop a,
.hs_drop button {
  color: #eee;
  border-radius: 25px;
  background-color: #686767;
  padding: 10px;
  font-weight: 300;
  text-decoration: none;
  font-size: 18px;
}

.hs_menu:hover .hs_drop,
.hs_drop:hover button {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

img {
  margin-right: 20px;
  z-index: 900;
}

section#hs_home_sec {
  flex: 1;
  font-size: larger;
  text-align: center;
  margin: 250px 0 150px 0;
  line-height: 40px;
}

section h3 {
  font-weight: 500;
}

footer {
  text-align: center;
}

footer div {
  line-height: 100px;
  font-size: 30px;
}

footer div a {
  padding: 15px 30px;
  cursor: pointer;
}
